iframe#analytics {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

body {
  margin: 0;
  font-family: sans-serif;
}

:global {
  .hide {
    display: none;
  }

  #root,
  .root {
    height: 100%;
  }
}
