body {
  margin: 0;
  font-family: sans-serif;
}

:global {
  iframe#analytics {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
  }

  .hide {
    display: none;
  }

  #root,
  .root {
    height: 100%;
  }
}
